.row {
  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  td {
    padding: 1.5rem 16px 1.5rem 0;
    line-height: 1;
  }
}

td.rank_cell {
  background-color: #3d437a;
  padding-left: 3.5rem;
  font-weight: bold;
  font-size: 23px;
  width: 10rem;

  .rank_content {
    display: flex;
    align-items: center;

    span.first {
      font-size: 2.438rem;
      width: 1.25rem;
      margin-right: 0.25rem;
    }

    span {
      display: inline-block;
      margin-right: 0.625rem;
      width: 1rem;
      font-size: 1.438rem;
      text-align: right;
    }

    @media (max-width: 37.5em) {
      span,
      span.first {
        margin-right: 0;
      }

      img {
        display: none;
      }
    }
  }

  @media (max-width: 37.5em) {
    padding: 1.25rem 0.938rem;
  }
}

td.image_cell {
  padding: 0;
  width: 1%;

  .image_cell_content {
    position: relative;
    min-width: 84px;
    min-height: 84px;
  }

  .image_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 84px;
    height: 84px;
  }
}

td.name_cell {
  width: 16rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  background-color: #5b6097;

  h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.name_cell_0 {
    font-weight: 600;

    @media (min-width: 48em) {
      font-size: 1.188rem;
    }

    @media (min-width: 75em) {
      font-size: 1.438rem;
    }
  }

  .truncated_string_mobile {
    opacity: 0.4;
    font-size: 0.875rem;
  }
}

td.address_cell {
  padding-left: 1rem;
  font-size: 14px;
  line-height: 17px;
  background-color: #5b6097;
}

td.points_cell {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  background-color: #5b6097;
}

td.link_cell {
  background-color: #5b6097;
}

td .link {
  padding: 16px;

  @media (min-width: 62em) {
    padding: 0;
  }
}
